.image{ 
	width: 300px;
	height: 220px;
}

.pointer>li{
	cursor: pointer;
}

.phone-block {
	height: 35px;
}
.modal {
	display: block !important;
}
/*Animation show/hide phone*/
/* *-enter *-enter-active *-enter-to Появление */
/* *-leave *-leave-active *-leave-to Скрытие*/

.phone-enter-active, .phone-leave-active {
	transition: all 0.5s;
}
.phone-enter, .phone-leave-to{
	transform: translateX(50px);
	opacity: 0;
}
/*Aimation modal*/
.modal-enter-active, .modal-leave-active {
	transition: all .7s !important;
}
.modal-enter, .modal-leave-to{
	transform: translateY(-220px);
}

/*fade*/
.fade-enter-active{
	animation: 0.75s fade forwards;
}

.fade-leave-active{
	animation: 0.75s fade reverse;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to{
		opacity: 0.5;
	}
}











